<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title></title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/global.css">
	<link rel="stylesheet" href="/css/widescreen.css" media="screen and (min-width: 768px)">
	<link rel="stylesheet" href="/css/smallscreen.css" media="screen and (max-width: 768px)">	
	<link rel="stylesheet" href="/css/home.css">
	<script src="https://nhm.ie/client/min.js"></script>
	<script defer src="https://livehelp.im/popin/lhim-popin-experimental.js"></script>
	<base href="/home/">
</head>
<body ng-controller="Main">
	<div ng-include="'/layout/navbar.html'"></div>
	<div ng-if="sys.page.url">
		<div ng-include="sys.page.url"></div>
	</div>
	<div ng-if="!sys.page.url" ng-bind-html="$sce.trustAsHtml(sys.page.content)">
	</div>
	<div ng-include="'/layout/notifications.html'"></div>
	<div ng-include="'/layout/footer.html'"></div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular-resource.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular-route.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/js-sha256/0.9.0/sha256.js"></script>
	<script src="https://unpkg.com/showdown/dist/showdown.min.js"></script>
	<script src="/user/data"></script>
	<script src="https://nhm.ie/client/nhm-client-jsm-experimental.js"></script>
	<script src="/data/select"></script>
	<script src="/home/js/app.js"></script>
	<script src="/home/js/main.js"></script>
	<script src="/js/util.js"></script>
	<script src="/js/notify.js"></script>
</body>
</html>